.jumbotron {
	color: inherit;
  	background: url('../images/bg.png') no-repeat center center;
  	max-width: auto;
  	background-size:cover;
  	height: 100%;
  	margin-bottom: 0px;
}
.jumbotron .container-fluid {
	height: inherit;
	max-width: 100%;
	display: table;
}
.jumbotron .container-fluid .title{
	display: table-cell;
	height: inherit;
	color:#DDDDDD; 
	vertical-align: middle;
}

#scroller{
	position: relative;
    left: 0px;
    top: 0px;
    height: 72px;
    width: 100%;
    opacity: 0;
    margin-top: -72px;
}
#scroller:hover{
    opacity: 0.8;
}
#scroller-arrow{
    display:block;
    margin:auto;
    margin-top: -48px;
    
}

.col-lg-4{
	padding: 20px;
}

#maintitle{
	text-shadow: 2px 2px #333333;
}

#subtitle{
	text-shadow: 1px 1px #333333;
}
#about{
	margin: 0px;
	padding-bottom: 40px;
	height: auto;
	background-color: #222222;
	color:#EEEEEE;
	vertical-align: middle;
}
#aboutme{
	margin-left: auto;
    margin-right: auto;
	max-width: 900px;
	text-align: center;
	font-size: 18px;
}
#interests{
	margin-top: 40px;
	margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: center;
}

#contact_icons{
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    text-align: center;
}
#interest-text{
	max-width: 280px;
	margin-left: auto;
    margin-right: auto;
}

#projects{
	margin: 0px;
	padding-bottom: 25px;
	height: auto;
	background-color: #FAFAFA;
	color:#222222;
}

#projects-intro{
	margin-left: auto;
    margin-right: auto;
	max-width: 900px;
	text-align: center;
	font-size: 18px;
	color: #222222;
}

.container-fluid .project-photo{
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	width:60%;
  	display: block;
  	background-size:cover;
  	background-position: center center; 
  	background-repeat: no-repeat;
	border-radius:15px;
	overflow:hidden;
}

.project-overlay{  
	background:rgba(0,0,0, .75);
	text-align:center;
	opacity:0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	height: inherit;
	border-radius:15px;
	position: relative;
	vertical-align: middle;
}

.container-fluid .project-photo:hover .project-overlay {
	opacity:1;
}

#tris{
	background:url(2048-tris.png);
	background-size:cover;
}

#quadtree{
	background:url(quadtree_test.png);
	background-size:cover;
}

#gravisim{
	background:url(gravisim.png);
	background-size:cover;
}

#project-text{  
	font-family:Helvetica;
	color:rgba(255,255,255,.85);
	font-size: 1.7vw;
	margin: 0;
	padding: 10px;
   	position: absolute;               
   	top: 50%;                        
   	left: 50%;
   	margin-right: -50%;
   	transform: translate(-50%, -50%)
   	
}

#contact{
	margin: 0px;
	min-height: 380px;
	background-color: #222222;
	color:#FAFAFA;
	font-size: 1.5vw;
}

#footer{
	margin: 0px;
	padding-bottom: 15px;
	background-color: #FAFAFA;
	color:#222222;
}
#homehr{
	border-top: 2px solid #FAFAFA;
}
#abouthr{
	border-top: 2px solid #F96B55;
}
#icon{
	color: #F96B55;
}

.link_icon{
	height: 100px;
	width: 100px;
}

#link_icon-small{
	height:97px;
	width: 97px;
}

.link_icon:hover{
	opacity:0.3;
	-webkit-transition: opacity .15s ease;
	-moz-transition: opacity .15s ease;
}
html{ 
	height:100%;

}
body{
	padding-top: 50px;
	height:100%;
}