.jumbotron {
	color: inherit;
  	background: url('../images/bg.png') no-repeat center center;
  	max-width: auto;
  	background-size:cover;
  	height: 100%;
  	margin-bottom: 0px;
}
.jumbotron .container-fluid {
	height: inherit;
	max-width: 100%;
	display: table;
}
.jumbotron .container-fluid .title{
	display: table-cell;
	height: inherit;
	color:#DDDDDD; 
	vertical-align: middle;
}

#maintitle{
	text-shadow: 2px 2px #333333;
}

#subtitle{
	text-shadow: 1px 1px #333333;
}
#about{
	margin: 0px;
	height: 2000px;
	background-color: #222222;
	color:#DDDDDD;
}

html{ 
	height:100%;

}
body{
	padding-top: 50px;
	height:100%;
}