.jumbotron {
	color: inherit;
  	background: url('../images/bg.png') no-repeat center center;
  	max-width: auto;
  	background-size:cover;
  	height: 100%;
  	margin-bottom: 0px;
}
.jumbotron .container-fluid {
	height: inherit;
	max-width: 100%;
	display: table;
}
.jumbotron .container-fluid .title{
	display: table-cell;
	height: inherit;
	color:#DDDDDD; 
	vertical-align: middle;
}

.col-lg-4{
	padding: 20px;
}

#maintitle{
	text-shadow: 2px 2px #333333;
}

#subtitle{
	text-shadow: 1px 1px #333333;
}
#about{
	margin: 0px;
	height: 2000px;
	background-color: #333333;
	color:#DDDDDD;
}
#aboutme{
	margin-left: 20%;
	margin-right: 20%;
}
#interests{
	margin-left: 12%;
	margin-right: 12%;
}
#projects{
	margin: 0px;
	height: 1000px;
	background-color: #EEEEEE;
	color:#333333;
}
#contact{
	margin: 0px;
	height: 100%;
	background-color: #333333;
	color:#DDDDDD;
}
#homehr{
	border-top: 2px solid #eee;
}
#abouthr{
	border-top: 2px solid #F96B55;
}

html{ 
	height:100%;

}
body{
	padding-top: 50px;
	height:100%;
}